
body /* Background Fade */{ 
  animation: 500s ease-in-out infinite color-change;
}

p /* Use for most descriptions */ {
  font-size: 2vw;
  align-content: center;
  padding-top: 1vw;
  padding-bottom: 1vw;
  text-align: center;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  background-color: rgba(255, 255, 255, 0.075); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden; 
  padding-top: 65px; /* Place content 60px from the top */
  transition: 0.7s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
  padding: 5px 5px 10px 55px;
  text-decoration: none;
  font-size: 23px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #000000da;
  text-decoration: none;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.color {
  animation: 500s ease-in-out infinite color;
}

.main {
  color: #eeeeee;
  position: absolute;
  text-align: center;
  top: 32%;
  width: 100%;
  line-height: 0.4em;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 

#particles-js {
  height: 100vh;
  width: 100vw;
}

@keyframes color-change {
    0% {
      background-color: rgb(72, 172, 172);
    }
    20% {
      background-color: rgb(184, 170, 90);
    }
    40% {
      background-color: rgb(143, 71, 71);
    }
    60% {
      background-color: violet;
    }
    80% {
      background-color: rgb(71, 119, 71);
    }
    100% {
      background-color: teal;
    }
  }

@keyframes color {
  0% {
    background-color: rgb(190, 245, 182);
  }
  20% {
    background-color: rgb(137, 243, 120);
  }
  40% {
    background-color: rgb(109, 184, 98);
  }
  60% {
    background-color: rgb(84, 177, 70);
  }
  80% {
    background-color: rgb(71, 119, 71);
  }
  100% {
    background-color: rgb(31, 107, 19);
  }
}

.rounded {
  border-radius: 10%;
  border: 25px;
  text-align: center;
}

.section {
  text-decoration: none;
  font-size: 7vh;
  text-align: center;
}

.responsive {
  border-radius: 25vh; 
  padding-bottom: 35px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


 
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
 opacity:0;  /* make things invisible upon start */
 -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
 -moz-animation:fadeIn ease-in 1;
 animation:fadeIn ease-in 1;
 
 -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
 -moz-animation-fill-mode:forwards;
 animation-fill-mode:forwards;
 
 -webkit-animation-duration:1s;
 -moz-animation-duration:1s;
 animation-duration:1s;
}
 
.fade-in.one {
-webkit-animation-delay: 1.2s;
-moz-animation-delay: 1.2s;
animation-delay: 1.2s;
}
 
.fade-in.two {
-webkit-animation-delay: 1.5s;
-moz-animation-delay:1.5s;
animation-delay: 1.5s;
}
 
.fade-in.three {
  -webkit-animation-delay: 1.8s;
  -moz-animation-delay: 1.8s;
  animation-delay: 1.8s;
}


.infiniteFade {
  animation: 1.8s ease-in-out infinite infinitefade;
}

@keyframes infinitefade {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.8;
  }
  40% {
    opacity: 0.6;
  }
  60% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.0;
  }
}


   
  