.center {
    text-align: center;
    align-content: center;
    box-align: center;
    align-self: center;
    size: inherit;
    font-size: inherit;
}
.transparent {
    background-color: transparent;
    align-content: inherit;
}


/*
Animations for index.html
*/
@keyframes fadeAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadeAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadeAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.fade {
    opacity: 0;
    animation: fadeAnimation ease-in
}
